/* Fuentes */
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  .letra-open-sans {font-family: 'Open Sans', sans-serif;}
  .letra-courgette {font-family: "Courgette", "Raleway", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;}
  .letra-raleway {font-family: "Raleway", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;}
  .blanco-sombra { color: white; text-shadow: -0.1em 0.1em 0.1em #000; }

/* Utilidades de desarrollo */
  .margen {border: 1px dashed red;} 	/*margen al rededor */
  .on {display: inline;} 	/* enciende */
  .off {display: none ! important; visibility:hidden; visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;} 	/* apaga */
  .px1x1 {display: none ! important; width: 1px ! important; height: 1px ! important; visibility: hidden; position: absolute; top: -9999px; z-index: 100000;}
/* Precarga de imágenes */
  #preload {display: none; visibility:hidden}
/* Curiosidades */
  .revText { unicode-bidi:bidi-override; direction: rtl; } /* Voltear letras */
/* Espaciadores */
  /* espaciadores top aumenta margen arriba lo indicado en pixeles de 5 en 5 */
    /* top vertical px */
    .tv-spacer-10px { margin-top: 10px; }
    .tv-spacer-15px { margin-top: 15px; }
    .tv-spacer-20px { margin-top: 20px; }
    .tv-spacer-25px { margin-top: 25px; }
    .tv-spacer-30px { margin-top: 30px; }
    .tv-spacer-35px { margin-top: 35px; }
    .tv-spacer-40px { margin-top: 40px; }
    .tv-spacer-45px { margin-top: 45px; }
    .tv-spacer-50px { margin-top: 50px; }
    .tv-spacer-55px { margin-top: 55px; }
    .tv-spacer-60px { margin-top: 60px; }
    .tv-spacer-65px { margin-top: 65px; }
    .tv-spacer-70px { margin-top: 70px; }
    .tv-spacer-75px { margin-top: 75px; }
    .tv-spacer-80px { margin-top: 80px; }
    .tv-spacer-85px { margin-top: 85px; }
    .tv-spacer-90px { margin-top: 90px; }
    .tv-spacer-95px { margin-top: 95px; }
    .tv-spacer-100px { margin-top: 100px; }
    .tv-spacer-105px { margin-top: 105px; }
    .tv-spacer-110px { margin-top: 110px; }
    .tv-spacer-115px { margin-top: 115px; }
    .tv-spacer-120px { margin-top: 120px; }
    .tv-spacer-125px { margin-top: 125px; }
    .tv-spacer-130px { margin-top: 130px; }
    .tv-spacer-135px { margin-top: 135px; }
    .tv-spacer-140px { margin-top: 140px; }
    .tv-spacer-145px { margin-top: 145px; }
    .tv-spacer-150px { margin-top: 150px; }
    .tv-spacer-155px { margin-top: 155px; }
    .tv-spacer-160px { margin-top: 160px; }
    .tv-spacer-165px { margin-top: 165px; }
    .tv-spacer-170px { margin-top: 170px; }
    .tv-spacer-175px { margin-top: 175px; }
    .tv-spacer-180px { margin-top: 180px; }
    .tv-spacer-185px { margin-top: 185px; }
    .tv-spacer-190px { margin-top: 190px; }
    .tv-spacer-195px { margin-top: 195px; }
    .tv-spacer-200px { margin-top: 200px; }
  /* espaciadores top aumenta margen abajo lo indicado en pixeles de 5 en 5 */
    /* bottom vertical px */
    .bv-spacer-10px { margin-bottom: 10px; }
    .bv-spacer-15px { margin-bottom: 15px; }
    .bv-spacer-20px { margin-bottom: 20px; }
    .bv-spacer-25px { margin-bottom: 25px; }
    .bv-spacer-30px { margin-bottom: 30px; }
    .bv-spacer-35px { margin-bottom: 35px; }
    .bv-spacer-40px { margin-bottom: 40px; }
    .bv-spacer-45px { margin-bottom: 45px; }
    .bv-spacer-50px { margin-bottom: 50px; }
    .bv-spacer-55px { margin-bottom: 55px; }
    .bv-spacer-60px { margin-bottom: 60px; }
    .bv-spacer-65px { margin-bottom: 65px; }
    .bv-spacer-70px { margin-bottom: 70px; }
    .bv-spacer-75px { margin-bottom: 75px; }
    .bv-spacer-80px { margin-bottom: 80px; }
    .bv-spacer-85px { margin-bottom: 85px; }
    .bv-spacer-90px { margin-bottom: 90px; }
    .bv-spacer-95px { margin-bottom: 95px; }
    .bv-spacer-100px { margin-bottom: 100px; }
    .bv-spacer-105px { margin-bottom: 105px; }
    .bv-spacer-110px { margin-bottom: 110px; }
    .bv-spacer-115px { margin-bottom: 115px; }
    .bv-spacer-120px { margin-bottom: 120px; }
    .bv-spacer-125px { margin-bottom: 125px; }
    .bv-spacer-130px { margin-bottom: 130px; }
    .bv-spacer-135px { margin-bottom: 135px; }
    .bv-spacer-140px { margin-bottom: 140px; }
    .bv-spacer-145px { margin-bottom: 145px; }
    .bv-spacer-150px { margin-bottom: 150px; }
    .bv-spacer-155px { margin-bottom: 155px; }
    .bv-spacer-160px { margin-bottom: 160px; }
    .bv-spacer-165px { margin-bottom: 165px; }
    .bv-spacer-170px { margin-bottom: 170px; }
    .bv-spacer-175px { margin-bottom: 175px; }
    .bv-spacer-180px { margin-bottom: 180px; }
    .bv-spacer-185px { margin-bottom: 185px; }
    .bv-spacer-190px { margin-bottom: 190px; }
    .bv-spacer-195px { margin-bottom: 195px; }
    .bv-spacer-200px { margin-bottom: 200px; }
	/* doble espaciadores top & bottom aumenta 5px arriba y abajo por vez */
    /* doble vertical */
    .dv-spacer-10px { margin-bottom: 10px; margin-top: 10px; clear: both; }
    .dv-spacer-15px { margin-bottom: 15px; margin-top: 15px; clear: both; }
    .dv-spacer-20px { margin-bottom: 20px; margin-top: 20px; clear: both; }
    .dv-spacer-25px { margin-bottom: 25px; margin-top: 25px; clear: both; }
    .dv-spacer-30px { margin-bottom: 30px; margin-top: 30px; clear: both; }
    .dv-spacer-35px { margin-bottom: 35px; margin-top: 35px; clear: both; }
    .dv-spacer-40px { margin-bottom: 40px; margin-top: 40px; clear: both; }
    .dv-spacer-45px { margin-bottom: 45px; margin-top: 45px; clear: both; }
    .dv-spacer-50px { margin-bottom: 50px; margin-top: 50px; clear: both; }
    .dv-spacer-55px { margin-bottom: 55px; margin-top: 55px; clear: both; }
    .dv-spacer-60px { margin-bottom: 60px; margin-top: 60px; clear: both; }
    .dv-spacer-65px { margin-bottom: 65px; margin-top: 65px; clear: both; }
    .dv-spacer-70px { margin-bottom: 70px; margin-top: 70px; clear: both; }
    .dv-spacer-75px { margin-bottom: 75px; margin-top: 75px; clear: both; }
    .dv-spacer-80px { margin-bottom: 80px; margin-top: 80px; clear: both; }
    .dv-spacer-85px { margin-bottom: 85px; margin-top: 85px; clear: both; }
    .dv-spacer-90px { margin-bottom: 90px; margin-top: 90px; clear: both; }
    .dv-spacer-95px { margin-bottom: 95px; margin-top: 95px; clear: both; }
    .dv-spacer-100px { margin-bottom: 100px; margin-top: 100px; clear: both; }
    .dv-spacer-105px { margin-bottom: 105px; margin-top: 105px; clear: both; }
    .dv-spacer-110px { margin-bottom: 110px; margin-top: 110px; clear: both; }
    .dv-spacer-115px { margin-bottom: 115px; margin-top: 115px; clear: both; }
    .dv-spacer-120px { margin-bottom: 120px; margin-top: 120px; clear: both; }
    .dv-spacer-125px { margin-bottom: 125px; margin-top: 125px; clear: both; }
    .dv-spacer-130px { margin-bottom: 130px; margin-top: 130px; clear: both; }
    .dv-spacer-135px { margin-bottom: 135px; margin-top: 135px; clear: both; }
    .dv-spacer-140px { margin-bottom: 140px; margin-top: 140px; clear: both; }
    .dv-spacer-145px { margin-bottom: 145px; margin-top: 145px; clear: both; }
    .dv-spacer-150px { margin-bottom: 150px; margin-top: 150px; clear: both; }
    .dv-spacer-155px { margin-bottom: 155px; margin-top: 155px; clear: both; }
    
  /* horizontal espaciadores aumenta 5px izquierda cada vez */
    /* left horizontal */
    .lh-spacer { margin-left: 5%;}
    .lh-spacer-x2 { margin-left: 10%;}
    .lh-spacer-x3 { margin-left: 15%;}
    .lh-spacer-x4 { margin-left: 20%;}
    .lh-spacer-x5 { margin-left: 25%;}
  /* horizontal espaciadores aumenta 5px derecha cada vez */
    /* right horizontal */
    .rh-spacer { margin-right: 5%;}
    .rh-spacer-x2 { margin-right: 10%;}
    .rh-spacer-x3 { margin-right: 15%;}
    .rh-spacer-x4 { margin-right: 20%;}
    .rh-spacer-x5 { margin-right: 25%;}
  /* doble espaciadores left & right aumenta 5px izquierda y derecha por vez */
    /* dole horizontal */
    .dh-spacer { margin-left: 5%; margin-right: 5%; }
    .dh-spacer-x2 { margin-left: 10%; margin-right: 10%; }
    .dh-spacer-x3 { margin-left: 15%; margin-right: 15%; }
    .dh-spacer-x4 { margin-left: 20%; margin-right: 20%; }
    .d-hspacer-x5 { margin-left: 25%; margin-right: 25%; }
/* Bordes */
  /* bordes superior */
  .brd-t-gris {border-top: 1px solid lightgray;}
/* ancho */
  .ancho-90 {width: 90%; margin-left: auto; margin-right: auto;}
  .ancho-80 {width: 80%;}
/* agrandador de fuentes */
  .x1   {font-size: 1rem;}
  .x1-5 {font-size: 1.5rem;}
  .x2   {font-size: 2rem;}
  .x2-5 {font-size: 2.5rem;}
  .x3   {font-size: 3rem;}
  .x3-5 {font-size: 3.5rem;}
  .x4   {font-size: 4rem;}
  .x4-5 {font-size: 4.5rem;}
  .x5   {font-size: 5rem;}
  .x5-5 {font-size: 5.5rem;}
  .x6   {font-size: 6rem;}
  .x6-5  {font-size: 6.5rem;}
/* achicador de fuentes en porcentaje */
  .x0-1 {font-size: 10%;}
  .x0-2 {font-size: 20%;}
  .x0-3 {font-size: 30%;}
  .x0-4 {font-size: 40%;}
  .x0-5 {font-size: 50%;}
  .x0-6 {font-size: 60%;}
  .x0-7 {font-size: 70%;}
  .x0-8 {font-size: 80%;}
  .x0-9 {font-size: 90%;}
  .x0-25 {font-size: 25%;}
  .x0-75 {font-size: 75%;}
  .x0-85 {font-size: 85%;}
  .x0-95 {font-size: 95%;}
  .x0-98 {font-size: 98%;}
/* colores de letras y fondos */
  .texto-blanco {color: white;} .fondo-blanco {background-color: white;}
  .texto-negro {color: black;} .fondo-negro {background-color: black;}
  .texto-rojo {color: red;} .fondo-rojo {background-color: red;}
  .texto-verde {color: green;} .fondo-verde {background-color: green;}
  .texto-amarillo {color: yellow;} .fondo-amarillo {background-color: yellow;}
  .texto-naranja {color: orange;} .fondo-naranja {background-color: orange;}
  .texto-verde-fosfo {color: #22fd00;} .fondo-verde-fosfo {background-color: #22fd00;}
  .texto-rosa {color: pink;} .fondo-rosa {background-color: pink;}
  .texto-morado {color: purple;} .fondo-morado {background-color: purple;}
  .texto-morado-claro {color: darkorchid;} .fondo-morado-claro {background-color: darkorchid;}
  .texto-marron {color: #690100;} .fondo-marron {background-color: #690100;}
  .texto-rosa-mexicano {color: #ce40aa;} .fondo-rosa-mexicano {background-color: #ce40aa;}
  .texto-azul {color: blue;} .fondo-azul {background-color: blue;}
  .texto-azul-fosfo {color: #00a3f8;} .fondo-azul-fosfo {background-color: #00a3f8;}
  .texto-facebook {background-color: #3b5998;} .fondo-facebook {background-color: #3b5998;}
  .texto-facebook-oscuro {background-color: #17233d;} .fondo-facebook-oscuro {background-color: #17233d;}
  .texto-azul-metalico {color: steelblue;} .fondo-azul-metalico {background-color: steelblue;}
  .texto-azul-vibrante {color: #33C3F0;} .fondo-azul-vibrante {background-color: #33C3F0;}
  .texto-gris {color: gray;} .fondo-gris {background-color: gray;}
  .texto-gris-claro {color: lightgray;} .fondo-gris-claro {background-color: lightgray;}
/* estilos de letras */
  .texto-bold {font-weight: bold;}
  .texto-italic {font-style: italic;}
  .code-xtracss{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 100%;
    color: inherit;
    background-color: inherit;
    border-radius: 4px;
    }
/* Cursores */
  .cursor-default {cursor: default;}
/* espaciadores top aumenta margen arriba lo indicado en pixeles de 5 en 5 */
  /* top vertical px */
  .tv-padder-5px { padding-top: 5px; }
  .tv-padder-10px { padding-top: 10px; }
  .tv-padder-15px { padding-top: 15px; }
  .tv-padder-20px { padding-top: 20px; }
  .tv-padder-25px { padding-top: 25px; }
  .tv-padder-30px { padding-top: 30px; }
  .tv-padder-35px { padding-top: 35px; }
  .tv-padder-40px { padding-top: 40px; }
  .tv-padder-45px { padding-top: 45px; }
  .tv-padder-50px { padding-top: 50px; }
  .tv-padder-55px { padding-top: 55px; }
  .tv-padder-60px { padding-top: 60px; }
  .tv-padder-65px { padding-top: 65px; }
  .tv-padder-70px { padding-top: 70px; }
  .tv-padder-75px { padding-top: 75px; }
  .tv-padder-80px { padding-top: 80px; }
  .tv-padder-85px { padding-top: 85px; }
  .tv-padder-90px { padding-top: 90px; }
  .tv-padder-95px { padding-top: 95px; }
  .tv-padder-100px { padding-top: 100px; }
  .tv-padder-105px { padding-top: 105px; }
  .tv-padder-110px { padding-top: 110px; }
  .tv-padder-115px { padding-top: 115px; }
  .tv-padder-120px { padding-top: 120px; }
  .tv-padder-125px { padding-top: 125px; }
  .tv-padder-130px { padding-top: 130px; }
  .tv-padder-135px { padding-top: 135px; }
  .tv-padder-140px { padding-top: 140px; }
  .tv-padder-145px { padding-top: 145px; }
  .tv-padder-150px { padding-top: 150px; }
  .tv-padder-155px { padding-top: 155px; }
  .tv-padder-160px { padding-top: 160px; }
  .tv-padder-165px { padding-top: 165px; }
  .tv-padder-170px { padding-top: 170px; }
  .tv-padder-175px { padding-top: 175px; }
  .tv-padder-180px { padding-top: 180px; }
  .tv-padder-185px { padding-top: 185px; }
  .tv-padder-190px { padding-top: 190px; }
  .tv-padder-195px { padding-top: 195px; }
  .tv-padder-200px { padding-top: 200px; }
/* espaciadores bottom aumenta margen abajo lo indicado en pixeles de 5 en 5 */
  /* bottom vertical px */
  .bv-padder-5px { padding-bottom: 5px; }
  .bv-padder-10px { padding-bottom: 10px; }
  .bv-padder-15px { padding-bottom: 15px; }
  .bv-padder-20px { padding-bottom: 20px; }
  .bv-padder-25px { padding-bottom: 25px; }
  .bv-padder-30px { padding-bottom: 30px; }
  .bv-padder-35px { padding-bottom: 35px; }
  .bv-padder-40px { padding-bottom: 40px; }
  .bv-padder-45px { padding-bottom: 45px; }
  .bv-padder-50px { padding-bottom: 50px; }
  .bv-padder-55px { padding-bottom: 55px; }
  .bv-padder-60px { padding-bottom: 60px; }
  .bv-padder-65px { padding-bottom: 65px; }
  .bv-padder-70px { padding-bottom: 70px; }
  .bv-padder-75px { padding-bottom: 75px; }
  .bv-padder-80px { padding-bottom: 80px; }
  .bv-padder-85px { padding-bottom: 85px; }
  .bv-padder-90px { padding-bottom: 90px; }
  .bv-padder-95px { padding-bottom: 95px; }
  .bv-padder-100px { padding-bottom: 100px; }
  .bv-padder-105px { padding-bottom: 105px; }
  .bv-padder-110px { padding-bottom: 110px; }
  .bv-padder-115px { padding-bottom: 115px; }
  .bv-padder-120px { padding-bottom: 120px; }
  .bv-padder-125px { padding-bottom: 125px; }
  .bv-padder-130px { padding-bottom: 130px; }
  .bv-padder-135px { padding-bottom: 135px; }
  .bv-padder-140px { padding-bottom: 140px; }
  .bv-padder-145px { padding-bottom: 145px; }
  .bv-padder-150px { padding-bottom: 150px; }
  .bv-padder-155px { padding-bottom: 155px; }
  .bv-padder-160px { padding-bottom: 160px; }
  .bv-padder-165px { padding-bottom: 165px; }
  .bv-padder-170px { padding-bottom: 170px; }
  .bv-padder-175px { padding-bottom: 175px; }
  .bv-padder-180px { padding-bottom: 180px; }
  .bv-padder-185px { padding-bottom: 185px; }
  .bv-padder-190px { padding-bottom: 190px; }
  .bv-padder-195px { padding-bottom: 195px; }
  .bv-padder-200px { padding-bottom: 200px; }
/* espaciadores left aumenta padding izquierda lo indicado en pixeles de 5 en 5 */
  /* izquierda horizontal px */
  .lh-padder-5px { padding-left: 5px; }
  .lh-padder-10px { padding-left: 10px; }
  .lh-padder-15px { padding-left: 15px; }
  .lh-padder-20px { padding-left: 20px; }
  .lh-padder-25px { padding-left: 25px; }
  .lh-padder-30px { padding-left: 30px; }
  .lh-padder-35px { padding-left: 35px; }
  .lh-padder-40px { padding-left: 40px; }
  .lh-padder-45px { padding-left: 45px; }
  .lh-padder-50px { padding-left: 50px; }
  .lh-padder-55px { padding-left: 55px; }
  .lh-padder-60px { padding-left: 60px; }
  .lh-padder-65px { padding-left: 65px; }
  .lh-padder-70px { padding-left: 70px; }
  .lh-padder-75px { padding-left: 75px; }
  .lh-padder-80px { padding-left: 80px; }
  .lh-padder-85px { padding-left: 85px; }
  .lh-padder-90px { padding-left: 90px; }
  .lh-padder-95px { padding-left: 95px; }
  .lh-padder-100px { padding-left: 100px; }
  .lh-padder-105px { padding-left: 105px; }
  .lh-padder-110px { padding-left: 110px; }
  .lh-padder-115px { padding-left: 115px; }
  .lh-padder-120px { padding-left: 120px; }
  .lh-padder-125px { padding-left: 125px; }
  .lh-padder-130px { padding-left: 130px; }
  .lh-padder-135px { padding-left: 135px; }
  .lh-padder-140px { padding-left: 140px; }
  .lh-padder-145px { padding-left: 145px; }
  .lh-padder-150px { padding-left: 150px; }
  .lh-padder-155px { padding-left: 155px; }
  .lh-padder-160px { padding-left: 160px; }
  .lh-padder-165px { padding-left: 165px; }
  .lh-padder-170px { padding-left: 170px; }
  .lh-padder-175px { padding-left: 175px; }
  .lh-padder-180px { padding-left: 180px; }
  .lh-padder-185px { padding-left: 185px; }
  .lh-padder-190px { padding-left: 190px; }
  .lh-padder-195px { padding-left: 195px; }
  .lh-padder-200px { padding-left: 200px; }
/* espaciadores right aumenta padding a la derecha lo indicado en pixeles de 5 en 5 */
  /* right horizontal px */
  .rh-padder-5px { padding-right: 5px; }
  .rh-padder-10px { padding-right: 10px; }
  .rh-padder-15px { padding-right: 15px; }
  .rh-padder-20px { padding-right: 20px; }
  .rh-padder-25px { padding-right: 25px; }
  .rh-padder-30px { padding-right: 30px; }
  .rh-padder-35px { padding-right: 35px; }
  .rh-padder-40px { padding-right: 40px; }
  .rh-padder-45px { padding-right: 45px; }
  .rh-padder-50px { padding-right: 50px; }
  .rh-padder-55px { padding-right: 55px; }
  .rh-padder-60px { padding-right: 60px; }
  .rh-padder-65px { padding-right: 65px; }
  .rh-padder-70px { padding-right: 70px; }
  .rh-padder-75px { padding-right: 75px; }
  .rh-padder-80px { padding-right: 80px; }
  .rh-padder-85px { padding-right: 85px; }
  .rh-padder-90px { padding-right: 90px; }
  .rh-padder-95px { padding-right: 95px; }
  .rh-padder-100px { padding-right: 100px; }
  .rh-padder-105px { padding-right: 105px; }
  .rh-padder-110px { padding-right: 110px; }
  .rh-padder-115px { padding-right: 115px; }
  .rh-padder-120px { padding-right: 120px; }
  .rh-padder-125px { padding-right: 125px; }
  .rh-padder-130px { padding-right: 130px; }
  .rh-padder-135px { padding-right: 135px; }
  .rh-padder-140px { padding-right: 140px; }
  .rh-padder-145px { padding-right: 145px; }
  .rh-padder-150px { padding-right: 150px; }
  .rh-padder-155px { padding-right: 155px; }
  .rh-padder-160px { padding-right: 160px; }
  .rh-padder-165px { padding-right: 165px; }
  .rh-padder-170px { padding-right: 170px; }
  .rh-padder-175px { padding-right: 175px; }
  .rh-padder-180px { padding-right: 180px; }
  .rh-padder-185px { padding-right: 185px; }
  .rh-padder-190px { padding-right: 190px; }
  .rh-padder-195px { padding-right: 195px; }
  .rh-padder-200px { padding-right: 200px; }